Source: kdemultimedia
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs (>=0.4.50), cmake, debhelper (>= 5), quilt,
 kdelibs5-dev (>= 4:4.0.0-1), kdebase-workspace-dev (>= 4:4.0.0-1), 
 libphonon-dev (>= 4:4.0.0-1), cdparanoia,
 libasound2-dev, libcdparanoia0-dev, libflac-dev, libmusicbrainz4-dev,
 libogg-dev, libtag1-dev, libtheora-dev, libtunepimp-dev, libvorbis-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: kdemultimedia
Section: kde
Architecture: all
Depends: kdemultimedia-kio-plugins (>= ${binary:Version}),
 juk (>= ${binary:Version}), kmix (>= ${binary:Version}),
 kscd (>= ${binary:Version})
Description: multimedia apps from the official KDE release 
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of multimedia applications
 (such as a CD player, mixer, and jukebox) provided with
 the official release of KDE.


Package: kdemultimedia-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg
Description: debugging symbols for kdemultimedia
 This package contains the debugging symbols associated with kdemultimedia.
 They will automatically be used by gdb for debugging kdemultimedia-related
 issues.


Package: kdemultimedia-dev
Section: devel
Architecture: any
Depends: kdelibs5-dev (>=4:4.0.0-1), kdebase-workspace-dev (>=4:4.0.0-1),
 kdemultimedia-kio-plugins (= ${binary:Version}),
 libkcddb4 (= ${binary:Version})
Description: development files for the KDE multimedia module
 Development files and headers for the KDE multimedia module.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.


Package: kdemultimedia-kio-plugins
section: kde
Architecture: any
Depends: ${shlibs:Depends}, libkcddb4 (= ${binary:Version})
Suggests: lame
Description: Audio CD I/O Slave for KDE
 This package includes the audiocd ioslave, which allows KDE applications to
 read audio from CDs and automatically convert it into other formats.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.


Package: juk
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: k3b
Description: music organizer and player for KDE
 JuK (pronounced "jook") is a jukebox and music manager for the KDE
 desktop similar to jukebox software on other platforms such as
 iTunes or RealOne.
 .
 Some of JuK's features include:
  * Music collection, playlists, and smart playlists
  * Tag editing support, including the ability to edit multiple files at once
  * Tag-based music file organization and renaming
  * Automatic tagging using MusicBrainz
  * CD burning support using k3b
  * Album art using Google Image Search
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.


Package: kmix
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Provides: x-audio-mixer
Description: sound mixer applet for KDE
 This package includes KDE's audio mixer application, for changing the volumes,
 inputs, and other properties of audio hardware.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.

Package: kscd
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: audio CD player for KDE
 This is KDE's audio CD player.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.


Package: libkcddb4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: CDDB library for KDE
 The KDE native CDDB (CD Data Base) library, which provides easy access to
 Audio CD meta-information (track titles, artist information, etc.) from
 on-line databases, for KDE applications.
 .
 This package also includes libKCompactDisc, for handling audio CDs.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde' and 'kdemultimedia' packages for more information.
